:root {
	--white-text-shadow: 0 1px 2px rgb(56, 55, 55);
	--black-text-shadow: 1px 1px rgb(184, 181, 181);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*
* Search Bar
*/
.search-bar {
	padding: 30px 0 0;
	background-color: #4d5564;
}

.search-bar form {
	width: 95%;
	margin: auto;
}

.search-bar input[type="text"] {
	width: 100%;
	height: 50px;
	padding-left: 15px;
	font-size: calc(10px + 2vmin);
	border: 1px solid #282c34;
}

/*
* Forecast navigation menu
*/
.forecast {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	background-color: #4d5564;
	padding-bottom: 1px;
}

.forecast a {
	text-decoration: none;
	color: rgb(160, 156, 156);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-bottom: 5px solid transparent;
}

.forecast a.active {
	color: #fff;
	border-bottom: 5px solid #fff;
}

.forecast a:hover,
.forecast a:active {
	background-color: #4d5564;
	color: #fff;
}

.container {
	width: 95%;
	max-width: 95%;
	margin: 0 auto;
	padding: 30px 5px;
}

/*
* Date and Time
*/
.date-time {
	margin-bottom: 10px;
	font-size: calc(10px + 2vmin);
	text-shadow: var(--black-text-shadow);
}

/*
* Day high, night low. Min and max
*/

.minmax {
	margin-left: 10px;
}

/*
* Current Weather details 
*/

.weather-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.weather-details,
.minmax-wrapper,
.tomorrow-wrapper {
	color: #fff;
	text-shadow: var(--white-text-shadow);
}
.degrees {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.degrees .number {
	font-size: calc(60px + 2vmin);
	height: 100px;
	width: 100px;
}
.degrees .feels-like {
	width: 100%;
	text-align: left;
}

.image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.image .icon {
	position: relative;
	display: block;
	height: 100px;
	width: 100px;
	overflow: hidden;
}

.icon img {
	position: relative;
	object-fit: cover;
	margin: 0;
	display: block;
	top: -50%;
	left: -50%;
	transform: scale(0.7);
}

.image .description {
	display: block;
	z-index: 1;
	width: 100%;
	text-align: center;
}

/*
* Tomorrow weather details 
*/
.tomorrow-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tomorrow-wrapper .description {
	font-size: 2rem;
}

/*
* 7 days weather details 
*/
.daily-forecast {
	border-bottom: 1px solid#c5d7f8;
}

.daily-forecast:first-of-type {
	margin-top: -30px;
}

.daily-forecast:last-of-type {
	border: none;
}
.summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.summary-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.summary-temp {
	text-align: right;
}

.summary-title,
.weekday,
.weekday-description,
.summary-icon,
.summary-temp {
	pointer-events: none;
}

.weekday,
.weekday-description {
	font-size: 1.1rem;
}
.weekday-description {
	color: rgb(245, 245, 245);
	text-shadow: var(--white-text-shadow);
}

.details {
	height: 0;
	opacity: 0;
	transition: opacity 400ms ease-in-out, height 400ms ease-in-out, margin-bottom 400ms ease-in-out;
	overflow: hidden;
	margin-bottom: 0;
}

.details.show {
	opacity: 1;
	height: 100px;
	margin-bottom: 20px;
}

.details-title {
	color: rgb(250, 244, 244);
	width: 150px;
}
